:root {
    --color-primary: rgb(81, 105, 167);
    --color-secundary: rgb(208, 157, 114);
    --color-tertiary: rgb(209, 190, 173);
    --letter-color: rgb(35, 32, 39);
    --button-color: rgb(83, 26, 131);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color-tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

header,
footer {
    color: var(--letter-color);
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

h1 {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.75rem;
}

nav {
    display: flex;
    margin-left: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav p {
    margin-left: 1rem;
    font-size: 1.25rem;
}

nav p:last-child {
    margin-right: 1rem;
}

nav p:nth-child(2) {
    font-weight: bold;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-secundary);
    font-size: 30px;
    height: 4rem;
}

a {
    cursor: pointer;
}

section img {
    width: 2rem;
    padding: 1rem;
}

h3 {
    font-weight: normal;
    margin-left: auto;
    margin-right: 1rem;
    font-size: 1.5rem;
}

div {
    display: block;
}

body > div > div {
    display: flex;
    align-items: center;
}

body > div > div > div {
    display: flex;
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-bottom: -1.5rem;
}

body > div > div div:last-child {
    margin-left: auto;
}

body > div > div div:last-child p {
    font-size: 1.25rem;
}

body > div > div div:last-child p:last-child {
    font-weight: bold;
}

input {
    margin-right: 0.5rem;
}

body > div div:nth-child(2n + 1) div:first-child p {
    text-decoration: line-through;
}

body > div > div:hover {
    color: rgb(228, 148, 0);
}

hr {
    margin-top: 2rem;
    height: 1px;
    background-color: var(--button-color);
}

body > div div:last-child p {
    margin-left: auto;
    margin-right: 1rem;
    font-size: 2rem;
}

footer {
    margin-top: auto;
    justify-content: center;
}

footer img {
    width: 100px;
    margin: 1.5rem;
}

a:hover {
    cursor: pointer;
}
